<h1>List all restaurants</h1>
<% @restaurants.each do |restaurant|%>
  <h2><%= link_to restaurant.name, restaurant_path(restaurant)  %></h2>
<% end %>

<%= link_to "New Restaurant", new_restaurant_path %>
